@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pixelated {
    image-rendering: pixelated;
  }
}

@font-face {
  font-family: 'Mono';
  src: url('/Hermit-Regular.woff2');
  src: url('/Hermit-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.mono { font-family: 'Mono', monospace; }
.hidden { display: none !important; }

* {
  box-sizing: border-box;
}

.btn {
  @apply rounded-none;
  @apply border-none bg-transparent hover:bg-base-100 m-0 h-auto min-h-full;
}

.dropdown-content {
  @apply border-b-2 border-black;
}
.dropdown-content li a {
  @apply rounded-none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  user-select: none;
}
